label {

  font-family: 'Heebo', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.07rem;
  font-style: normal;
  text-transform: uppercase;
  color: #508BCA;
  background-color: #C6C6C6;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  padding: 0.35rem 0.75rem;
  border-style: none;
  border-width: 0.125rem;
  border-color: #508BCA;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -box-shadow: none;  
}
svg {
  fill: #000;
  width: 30px;
  height: 30px;
  transition: all .2s ease-out,color .2s ease-out;
  overflow: hidden;
  box-sizing: border-box;
}

.input_form {
  outline: none;
  height: 100%;
  width: 100%;
  border-color: #000;
  border-style: solid;    
  background: #fff;
  display: block;
  padding: 10px 32px 10px 70px;
  font-size: 18px;
  border-radius: 34px;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  box-sizing: border-box;
}

h1{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
  font-style: normal;
  text-transform: uppercase;
  color: #508BCA;
  background-color: #ffffff;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  padding: 0.35rem 0.75rem;
  border-style: none;
  border-width: 0.125rem;
  border-color: #000000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  text-transform: none;
  -box-shadow: none;
}

h2{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
  font-style: normal;
  text-transform: uppercase;
  color: #508BCA;
  background-color: #ffffff;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  padding: 0.35rem 0.75rem;
  border-style: none;
  border-width: 0.125rem;
  border-color: #000000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  text-transform: none;
  -box-shadow: none;
}


.button-50 {
  appearance: button;
  background-color: #508BCA;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}
  



.parteSuperiorIzquierda{
  display: flex;
  justify-content: space-between;
}

.oneProductEdit button{
  margin-top: 10px;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 20px;   
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.groupCountry button {
  margin-top: 10px;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}



.groupCountry button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.groupCountry button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.groupCountry button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.btn-search {
    width: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    left: 0;
    height: 100%;
    background: 0 0;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    box-sizing: border-box;
}

.barraBuscador{
    height: 70px;
    width: 100%;
    position: relative;
    box-sizing: border-box;      
}


.enviar_info {
  background-color: #508BCA;
  color: white;
  font-style: normal;
}


.dividend_menu{
    float: left;
    width: 50%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  color: #508BCA;
  text-align: center;
}


.tabla_valores {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.tabla_valores th, td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.tabla_valores td{
  color: #508BCA; 
}
.tabla_valores th {
  text-align: left;
}
.tabla_valores thead th {
  background-color: #508BCA;
}
.tabla_valores tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.tabla_valores tbody td {
  position: relative;
}
.tabla_valores tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.tabla_options {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.tabla_options th, td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.tabla_options td{
  width: 33.33%;
  color: #508BCA; 
}
.tabla_options th {
  width: 33.33%;
  height: 50px; /* altura fija */
  white-space: nowrap; /* evitar el ajuste de texto al contenido */
  overflow: hidden; /* evitar que el contenido sobresalga */
  text-overflow: ellipsis; /* agregar puntos */
}
.tabla_options thead th {
  background-color: #508BCA;
}
.tabla_options tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.tabla_options tbody td:hover:before {
  content: "";  
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}


.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 200px;
  height: 140px;
  box-sizing: border-box;
}

.button-cover {
  height: 100px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 4px;
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before {
  content: "YES";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #508BCA;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before {
  content: "NO";
  left: 42px;
  background-color: #f44336;
}

#button-1 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
  transition: 0.3s ease all;
}

.slider{
  accent-color: #508BCA;
}

#imagen_inicio{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.container {
  margin: 20px;
  background-color: #fff;
  display: grid;

  grid-template-columns: 45% 45%;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.container .box {
  background-color: #508BCA;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
}

.input_rangeslider{
  padding-bottom: 10px;
}
.input_rangeslider h1{
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: left !important;
  width: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 70px;
  background: #ffffffa1;
  border-radius: 50px;
  border: 1px black solid;
  background-image: linear-gradient(#508BCA, #508bca);
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: #508BCA;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: #508BCA;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #508BCA;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #466382;
}

input[type="range"]::-moz-range-thumb:hover {
  background: #466382;
}

input[type="range"]::-ms-thumb:hover {
  background: #466382;
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}



.switch {
  position: relative;
  
}


/* The slider */
.slider_toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider_toggle:before {
  position: absolute;
  content: "";
  height: 29px;
  width: 29px;
  left: 0px;
  background-color: #508BCA;
  border: 1px black solid;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider_toggle {
  background-color: #508BCA;
}

input:focus + .slider_toggle {
  box-shadow: 0 0 1px #508BCA;
}

input:checked + .slider_toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded slider_toggles */
.slider_toggle.round {
  border-radius: 34px;
}

.slider_toggle.round:before {
  border-radius: 100%;
}

.row_container button{
  display: block;
  bottom: 0;
  width: 100%;
}

.column_container{
  display: flex;
  margin-left: 10px;
}



.parteSuperior {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 90px;
  width: 100%;
  background-color: rgb(188, 187, 187);
}

.parteSuperior h1{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.09rem;
  font-style: normal;
  text-transform: capitalize;
  color: #508BCA;
  background-color: rgb(188, 187, 187);
}
.parteSuperior button{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: none;
  background: none;
  border: none;
  outline: none;
}

.input_time{
  border: none;
  margin-left: 10px;
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  color: #508BCA;
}

.data_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.data_container h1, .data_container h2{
  margin: 0;
  padding: 3px;
}
.data_container h1{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
  color: #508BCA;
}
.data_container h2{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-style: normal;
  text-transform: none;
  color: #508BCA;
}

.column_container_water{
  display: flex;
  justify-content: center;
  align-items: center;
}

.column_container_water div{
  margin: 10px;
}

